body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1173px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:97px;
  top:70px;
  width:1040px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1080px;
  top:40px;
  width:93px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:89px;
  word-wrap:break-word;
}
