body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1137px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:97px;
  top:70px;
  width:1040px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:97px;
  top:70px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:480px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:480px;
}
#u4 {
  position:absolute;
  left:2px;
  top:232px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
